<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HLDS_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="maxPlayers" value="32" />
    <add key="port" value="27015" />
    <add key="vac" value="true" />
  </appSettings>
  <userSettings>
    <HLDS_Launcher.Properties.Settings>
      <setting name="maxPlayers" serializeAs="String">
        <value>32</value>
      </setting>
      <setting name="port" serializeAs="String">
        <value>27015</value>
      </setting>
      <setting name="vac" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoRestart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="priorityIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gameNameIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gameMapIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="enableLogging" serializeAs="String">
        <value>False</value>
      </setting>
    </HLDS_Launcher.Properties.Settings>
  </userSettings>
</configuration>